
.header-transparent {
	.logo-dark {
		display: none;
	}
}

.fixed-header {
	.navbar {
		background-color: $white;
		box-shadow: $box-shadow-lg;
	}
	.logo-light {
		display: none;
	}
	.logo-dark {
		display: inline-flex;
	}
}


/* Header Fluid
-----------------------------------*/
.navbar-toggler-px-light {
	.navbar-toggler-icon {
		background-image: escape-svg($navbar-light-toggler-icon-bg);
	}
}

/* Header Fluid
-----------------------------------*/
.header-fluid {
	.container-fluid {
		@include media-breakpoint-up(xxl) {
			padding-left: 35px;
			padding-right: 35px;
		}
	}
}

/* Header Search
-----------------------------------*/
.px-search-full {
	z-index: 9999;
	.search-close {
	    position: fixed;
	    top: 15px;
	    right: 15px;
	    width: 40px;
	    height: 40px;
	    padding: 0;
	    display: inline-flex;
	    align-items: center;
	    justify-content: center;
	    font-size: 25px;
	    color: $white;
	    background: $primary;
	    border: 2px solid $primary;
	    border-radius: 50%;
	    &:hover {
	    	background: $dark;
	    }
	}
}

/* Header Top
-----------------------------------*/
.header-top {
	.fixed-header & {
		visibility: hidden;
		pointer-events: none;
	}
}

/* Header Social
-----------------------------------*/
.header-social {
	.h-social-link {
	    padding: 0 4px;
		font-size: 14px;
		vertical-align: middle;
		color: rgba($white, 0.84);
	}
}


.navbar-dark {
	.nav {
		.nav-link {
			color: $navbar-dark-color; 
			&:hover {
				color: $white;
			}
		}
	}
}

.navbar-light {
	.nav {
		.nav-link {
			color: $navbar-light-color; 
			&:hover {
				color: $primary;
			}
		}
	}
}

/*Header link and dropdown
-----------------------------------*/
.header-main {
	transition: ease-out top 0.15s;
	.navbar-toggler {
		border: none;
	    outline: none;
	    box-shadow: none;
	    padding: 0;
	    .navbar-toggler-icon {
	    	width: 1.8em;
    		height: 1.8em;
	    }
	}
	.navbar-nav {
		> .nav-item {
			margin: 0 5px;
			> .nav-link {
				font-weight: $px-header-font-weight;
				text-transform: $px-header-link-transform;
				font-size: $px-header-link-font-size;
			}
			&.dropdown {
				> .nav-link {
					&:after {
						display:none;
					}
				}
			}
			.mob-menu {
			    position: absolute;
			    top: 0;
			    right: 0;
			    width: 40px;
			    height: 52px;
			    text-align: center;
			    line-height: 52px;
				color: $dark;
				&:after {
					display:none;
				}
				&:before {
					content: "\f282";
					font-family: "bootstrap-icons";
					font-weight: 900;
					font-size: 11px;
					color: currentColor;
				}
				&.open {
					&:before {
						content:"\f286";
						color: $primary;
					}
				}
			}
		}
	}
	.dropdown-item {
		font-size: $px-header-link-font-size - 0.10rem;
		padding: 0.35rem 1rem;
	}
	.header-right {
		.nav-link {
			padding: 0.3rem 0.6rem;
			i {
		    	font-size: 1.3rem;
			}
		}
	}
	.header-right-light {
		.nav-link {
			color: $dark;
			&:hover {
		    	color: $primary;
			}
		}	
	}
}


/*Cart
-----------------------------------*/
header {
	[data-cart-items] {
		position: relative;
		&:before {
		    content: attr(data-cart-items);
		    position: absolute;
		    top: -0.65rem;
		    right: -0.65rem;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    width: 18px;
		    height: 18px;
		    font-size: 10px;
		    font-weight: 400;
		    border-radius: 50%;
		    border: 1px solid $white;
		    background-color: $primary;
		    color: $white;
		}
	}
}

/*Responsive
-----------------------------------*/
@mixin hover-menu {
	.dropdown-mega-menu {
	    width: 100%;
	    background: $white;
	}

	> .container {
			position: relative;
		}

	.dropdown-menu-md {
		min-width: $px-dropdown-menu-md;		
	}

	.dropdown-menu-lg {
		min-width: $px-dropdown-menu-lg;		
	}

	.dropdown-menu-xl {
		min-width: $px-dropdown-menu-xl;		
	}
	.navbar-nav {
		> .nav-item {
			> .nav-link {
				line-height: $px-header-link-height-60;
				.header-option-1 & {
					line-height: $px-header-link-height-35;
				}
			}
			&.dropdown {
				> .nav-link {
					&:after {
						content: "\f282";
						font-family: bootstrap-icons;
						color: currentColor;
						margin-left: 8px;
						display: inline-block;
						font-size:  0.55rem;
						border: none;
						line-height: 10px;
					}
				}
				> .dropdown-menu {
					left: 50%;
					transform: translate(-50%,0);
					margin: 0;
					&.left {
						left: 0;
						transform: translate(0,0);
					} 
					&.right {
						right: 0;
						transform: translate(0,0);
					} 
					> li {
						position: relative;
					}
				}
				.dropdown-menu-sub {
					position: absolute;
					top: 0;
					left: 100%;
				}
			} 
			&.dropdown-full {
				position: static;
			}
			.dropdown-menu {
				display: none;
				box-shadow: $box-shadow-lg;
				padding-top: 1rem;
				padding-bottom: 1rem;
				border-radius: 0;
				> .dropdown {
					position: relative;
					> .dropdown-item {
						position: relative;
						&:after {
							content: "\f285";
							font-family: bootstrap-icons;
							color: currentColor;
							margin-left: 8px;
							display: inline-block;
							font-size: 0.85rem;
							border: none;
							position: absolute;
							top: 9px;
							right: 7px;
							font-weight: 600;
						}
					}
					&:hover {
						.dropdown-menu-sub {
							display:block;
						}
					}
				}
			}
			&:hover {
				> .dropdown-menu {
					display: block;	
				}
			}
			.mob-menu {
				display: none;
			}
		}
	}
}

/* Mobile Menu
-----------------------------------*/
@mixin mobile_menu {
	padding-top: 10px;
	padding-bottom: 10px;
	.navbar-collapse {
		max-height: 70vh;
		overflow-y: auto;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: $white;
	}
	.navbar-nav {
		.nav-item {
			margin: 0;
			border-top: 1px solid rgba($black, 0.08);
			> .nav-link {
				padding: 15px;
				color: $dark;
			}
			.dropdown-menu {
				background: $gray-100;
				margin: 0;
				border-radius: 0;
				li {
					position: relative;
					.mob-menu {
						line-height: 34px;
						height: 34px;
					}
				}
				.dropdown-menu {
					background: darken($gray-100, 2%);
					li {
						position: relative;
					}
				}
			}
		}
	}
}

/*Menu Hover & Header Fluid Space 
-----------------------------------*/

@include media-breakpoint-up(xxl) {
	.navbar-expand-xxl {
		@include hover-menu();
	}
}
@include media-breakpoint-up(xl) {
	.navbar-expand-xl {
		@include hover-menu();
	}
}
@include media-breakpoint-up(lg) {
	.navbar-expand-lg {
		@include hover-menu();
	}
}
@include media-breakpoint-up(md) {
	.navbar-expand-md {
		@include hover-menu();
	}
}
@include media-breakpoint-up(sm) {
	.navbar-expand-sm {
		@include hover-menu();
	}
}
@include media-breakpoint-up(xs) {
	.navbar-expand-xs {
		@include hover-menu();
	}
}




/*Top spacing for mobile menu 
-----------------------------------*/
@include media-breakpoint-down(xxl) {
	.navbar-expand-xxl {
		@include mobile_menu;
	}
}
@include media-breakpoint-down(xl) {
	.navbar-expand-xl {
		@include mobile_menu;
	}
}
@include media-breakpoint-down(lg) {
	.navbar-expand-lg {
		@include mobile_menu;
	}
}
@include media-breakpoint-down(md) {
	.navbar-expand-md {
		@include mobile_menu;
	}
	.navbar-brand {
		img {
			max-width: 150px;
			height: auto;
		}
	}
}
@include media-breakpoint-down(sm) {
	.navbar-expand-sm {
		@include mobile_menu;
	}
}
@include media-breakpoint-down(xs) {
	.navbar-expand-sm {
		@include mobile_menu;
	}
}

