.rating-star {
	.active {
		color: #fea569;
	}
}

/* Product Card 1
-------------------------------------------*/
.product-card-1 {
	border: 1px solid $gray-300;
	position: relative;
	background: $white;
	.badge-ribbon {
		position: absolute;
		top: 15px;
		left: 0;
		z-index: 1;
	}
	.product-card-image {
		border-bottom: 1px solid $gray-300;
	}
	.product-media {
		overflow: hidden;
		position: relative;
		img {
			transform: scale(1);
			transition: ease all 0.35s;
			width: 100%;
		}
	}
	.product-action {
		position: absolute;
		top: 15px;
		right: 25px;
		display: flex;
		flex-direction: column;
		transition: ease all 0.35s;
		opacity: 0;
		z-index: 1;
		.btn {
			padding: 0;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			line-height: 1;
			margin-bottom: 10px;
			background: $white;
			&:hover {
				background: $primary;
			}
		}
	}
	.product-cart-btn {
		position: absolute;
		bottom: -25%;
		left: 0;
		right: 0;
		transition: ease all 0.35s;
	}

	.product-card-info {
		position: relative;
		padding: 10px 15px 15px;
		text-align: center;
	}
	.product-meta {
	    line-height: normal;
		margin-bottom: 2px;
		a {
			color: $body-color;
			font-size: 11px;
			&:hover {
				color:$primary;
			}
		}
	}
	.product-title {
		font-weight: 600;
		margin: 0 0 6px;
		a {
			color: $dark;
			&:hover {
				color:$primary;
			}
		}
	}
	.product-price {
		span {
			font-size: 16px;
			font-weight: 600;
		}
		del {
			font-size: 14px;
		}
	}
	.rating-star {
		font-size: 12px;
		margin-bottom: 5px;
	}
	.form-check {
		margin: 0 2px;
	}
	.nav-thumbs {
		padding-top: 10px;
	}
	&:hover {
		box-shadow: $box-shadow;
		.product-media {
			img {
				transform: scale(1.1);
			}
		}
		.product-action {
			opacity: 1;
			right: 15px;
		}
		.product-cart-btn {
			bottom: 0;
		}
	}
}



/* Product Card 2
-------------------------------------------*/
.product-card-2 {
	border: 1px solid $gray-200;
	position: relative;
	background: $white;
	.badge-ribbon {
		position: absolute;
		top: 15px;
		left: 0;
		z-index: 1;
	}
	.product-media {
		overflow: hidden;
		position: relative;
		img {
			transform: scale(1);
			transition: ease all 0.35s;
			width: 100%;
		}
	}
	.btn {
		padding: 0;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}
	.product-wishlist {
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 1;
		.btn {
			&:not(:hover) {
				background: $white;
			}
		}
	}
	.product-action {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		transition: ease all 0.35s;
		padding: 10px;
		.btn {
			margin: 0 3px;
			position: relative;
			transition: ease all 0.35s;
			opacity: 0;
			top: -15px;
		}
	}

	.product-card-info {
		position: relative;
		padding: 10px 15px 15px;
		text-align: center;
	}
	.product-meta {
	    line-height: normal;
		margin-bottom: 2px;
		a {
			color: $body-color;
			font-size: 11px;
			&:hover {
				color:$primary;
			}
		}
	}
	.product-title {
		font-weight: 600;
		margin: 0 0 6px;
		a {
			color: $dark;
			&:hover {
				color:$primary;
			}
		}
	}
	.product-price {
		span {
			font-size: 16px;
			font-weight: 600;
		}
		del {
			font-size: 14px;
		}
	}
	.rating-star {
		font-size: 12px;
		margin-bottom: 5px;
	}
	.form-check {
		margin: 0 2px;
	}
	.nav-thumbs {
		padding-top: 10px;
	}
	&:hover {
		box-shadow: $box-shadow;
		.product-media {
			img {
				transform: scale(1.1);
			}
		}
		.product-action {
			background: rgba($white, 0.6);
			.btn {
				opacity: 1;
				top: 0;
			}
		}
	}
}


/* Product Card 3
-------------------------------------------*/
.product-card-3 {
	position: relative;
	background: $white;
	.badge-ribbon {
		position: absolute;
		top: 15px;
		left: 0;
		z-index: 1;
	}
	.product-media {
		overflow: hidden;
		position: relative;
		img {
			transform: scale(1);
			transition: ease all 0.35s;
			width: 100%;
		}
	}
	.product-action {
		position: absolute;
		top: 15px;
		right: 15px;
		display: flex;
		flex-direction: column;
		z-index: 1;
		.btn {
			padding: 0;
			width: 35px;
			height: 35px;
			border-radius: 3px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			line-height: 1;
			margin-bottom: 10px;
			transition: ease-in opacity 0.30s, ease-in left 0.30s;
			position: relative;
			left: -20px;
			opacity: 0;
			+ .btn {
				transition-delay: 0.15s;
				+ .btn {
					transition-delay: 0.20s;
					+ .btn {
						transition-delay: 0.25s;
						+ .btn {
							transition-delay: 0.30s;
						}
					}
				}
			}
			&:hover {
				background: $primary;
				border-color: $primary;
			}
		}
	}

	.product-card-info {
		position: relative;
		padding: 10px 15px 15px;
		text-align: center;
	}
	.product-title {
		font-weight: 600;
		margin: 0 0 6px;
		a {
			color: $dark;
			&:hover {
				color:$primary;
			}
		}
	}
	.product-price {
		span {
			font-size: 16px;
			font-weight: 600;
		}
		del {
			font-size: 14px;
		}
	}

	&:hover {
		.product-media {
			img {
				transform: scale(1.1);
			}
		}
		.product-action {
			.btn {
				left: 0;
				opacity: 1;
			}
		}
	}
}

/* Product Card 4
-------------------------------------------*/
.product-card-4 {
	display: flex;
	border: 1px solid $gray-200;
	+ .product-card-4 {
		margin-top: 20px;
	}
	.product-card-image {
		flex: 0 0 120px;
		max-width: 120px;
	}
	.product-card-info {
		position: relative;
		padding: 15px;
		flex: 0 0 calc(100% - 120px);
		max-width: calc(100% - 120px);
	}
	.product-title {
		font-weight: 600;
		margin: 0 0 6px;
		a {
			color: $dark;
			&:hover {
				color:$primary;
			}
		}
	}
	.product-price {
		span {
			font-size: 16px;
			font-weight: 600;
		}
		del {
			font-size: 14px;
		}
	}
	.produc-card-cart {
		margin-top: 5px;
		a {
			text-transform: uppercase;
			color: $dark;
			font-weight: 600;
			font-size: 12px;
			&:hover {
				color: $primary;
			}
		}
	}
}


/* Product Card 5
-------------------------------------------*/
.product-card-5 {
	position: relative;
	background: $white;
	.badge-ribbon {
		position: absolute;
		top: 15px;
		left: 0;
		z-index: 1;
	}
	.product-card-image {
		position: relative;
	}
	.product-media {
		overflow: hidden;
		position: relative;
		img {
			width: 100%;
		}
		.product-hover-img {
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    opacity: 0;
		    transition: ease-in opacity 0.30s;
		}

	}
	.product-wishlist-btn {
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 1;
		.btn {
			padding: 0;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			line-height: 1;
			margin-bottom: 10px;
			transition: ease-in opacity 0.30s, ease-in left 0.30s;
			position: relative;
			&:hover {
				background: $dark;
				border-color: $dark;
			}
		}
	}
	.product-action {
		position: absolute;
		bottom: 15px;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		z-index: 1;
		.btn {
			padding: 0;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			line-height: 1;
			margin-bottom: 10px;
			transition: ease-in opacity 0.30s, ease-in top 0.30s;
			position: relative;
			top: -20px;
			opacity: 0;
			margin: 2px;
			&:hover {
				background: $primary;
				border-color: $primary;
			}
		}
	}

	.product-card-info {
		position: relative;
		padding: 10px 15px 15px;
		text-align: center;
	}
	.product-title {
		font-weight: 600;
		margin: 0 0 6px;
		a {
			color: $dark;
			&:hover {
				color:$primary;
			}
		}
	}
	.product-price {
		span {
			font-size: 16px;
			font-weight: 600;
		}
		del {
			font-size: 14px;
		}
	}
	.product-cart-btn {
		padding-top: 10px;
		.btn {
			border-radius: 35px;
		}
	}

	&:hover {
		.product-media {		
			.product-hover-img {
				opacity: 1;
			}
		}
		.product-action {
			.btn {
				top: 0;
				opacity: 1;
			}
		}
	}
}