.slick-dots {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    .owl-main-slider & {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        font-size: 0px;
    }
    li {
        display: inline-block;
        vertical-align: top;
        margin: 0 5px;
        button {
            width: 15px;
            height: 15px;
            background: $white;
            border: 1px solid $primary;
            transition: ease all 0.55s;
            border-radius: 50%;
            font-size: 0px;
            color: transparent;
            padding: 0;
        }
        &.slick-active {
            button {
                background: $primary;
            }
        }
    }
}

.owl-carousel {
    .owl-item {
        img {
            width: auto;
            max-width: 100%;
        }
    }
}

.owl-no-overflow {
    .owl-stage-outer {
        overflow: inherit;
    }
}

.slick-carousel {
    .slick-arrow {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 25px;
        height: 40px;
        margin: auto;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        color: $dark;
        background: $white;
        border: none;
        z-index: 1;
        i {
            line-height: 1;
        }
        &.slick-disabled {
            opacity: 0.35;
        }
    }
    &.slick-nav-arrow-bottom {
        .slick-arrow {
            position: relative;
            display: inline-block;
            margin-right: 6px;
            width: 30px;
            height: 30px;
            background: $dark;
            color: $white;
            border-radius: 50%;
            padding: 0;
            line-height: 30px;
            font-size: 13px;
            &:hover {
                background: $primary;
            }
        }
    }
    &.slick-nav-rounded {
        .slick-arrow {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            font-size: 22px;
            @include media-breakpoint-down(md) {
                width: 30px;
                height: 30px;
                font-size: 14px;
            }
        }
        .slick-next {
            right: 20px;
            @include media-breakpoint-down(md) {
                right: 8px;
            }
        }
        .slick-prev {
            left: 20px;
            @include media-breakpoint-down(md) {
                left: 8px;
            }
        }
    }
    &.slick-nav-rounded-sm & {
        .slick-arrow {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-size: 12px;
        }
    }
    &.slick-nav-dark {
        .slick-arrow {
            color: $white;
            background: $dark;
        }
    }
    .slick-next {
        right: 0;
    }
    .slick-prev {
        left: 0;
    }
}