﻿@using Photovoir.Models.Seller
@model NewProductViewModel
    <!-- Breadcrumb -->
    <div class="py-3 bg-gray-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 my-2">
                    <h1 class="m-0 h4 text-center text-lg-start">Seller Account</h1>
                </div>
                <div class="col-lg-6 my-2">
                    <ol class="breadcrumb dark-link m-0 small justify-content-center justify-content-lg-end">
                        <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Seller" asp-action="Profile"><i class="bi bi-home"></i>Profile</a></li>
                        <li class="breadcrumb-item"><a class="text-nowrap"><i class="bi bi-home"></i>New Product</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->
    <div class="py-6">
        <div class="container">
            <div class="card mb-5">
                <div class="card-header py-3">
                    <h5 class="m-0">New Product</h5>
                </div>
                <div class="card-body">
                    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                        <div class="row">
                            <div class="col-sm-6 mb-3">
                                <label class="form-label">Photograph</label>
                                <input class="form-control" type="file" id="formFile">
                            </div>
                            <div class="col-sm-6 mb-3">
                                <label asp-for="Name" class="form-label">Name<span class="text-danger">*</span></label>
                                <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6 mb-3">
                                <label asp-for="Price" class="form-label">Price<span class="text-danger">*</span></label>
                                <input asp-for="Price" type="text" class="form-control" placeholder="Price">
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6 mb-3">
                                <label asp-for="Tags" class="form-label"></label>
                                <select asp-for="Tags" class="form-select" required="">
                                    <option value="Select">Select </option>
                                    <option value="Landscape">Landscape </option>
                                    <option value="Portrait">Portrait</option>
                                    <option value="Food">Food</option>
                                    <option value="Architecture">Architecture</option>
                                    <option value="Sports">Sports</option>
                                </select>
                                <span asp-validation-for="Tags" class="text-danger"></span>
                            </div>
                            <div class=" mb-3">
                                <label asp-for="Description" class="form-label">Description<span class="text-danger">*</span></label>
                                <input asp-for="Description" type="text" class="form-control" placeholder="Description">
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="col-12 pt-2">
                                <button class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }