﻿@using Photovoir.Models.Seller
@using Photovoir.Data.Products
@model ProfileViewModel
@inject UserManager<ApplicationUser> UserManager
@inject IUserEmailStore<ApplicationUser> EmailStore
<!-- Breadcrumb -->
<div class="py-3 bg-gray-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 my-2">
                <h1 class="m-0 h4 text-center text-lg-start">Seller Account</h1>
            </div>
            <div class="col-lg-6 my-2">
                <ol class="breadcrumb dark-link m-0 small justify-content-center justify-content-lg-end">
                    <li class="breadcrumb-item"><a class="text-nowrap"><i class="bi bi-home"></i>Profile</a></li>
                    <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Seller" asp-action="NewProduct"><i class="bi bi-home"></i>New Product</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<!-- Table -->
<div class="py-6">
    <div class="container">
        <div class="row">
            <!-- Profile Menu -->
            <div class="col-lg-4 pb-4 pb-lg-0 col-xxl-3  pe-xxl-5">
                <div class="bg-white border border-bottom-0 shadow-lg">
                    <div class="d-flex p-3 align-items-center">
                        <div class="avatar avatar-lg rounded-circle">
                            <img src="/Custom/img/profilepic.jpg" title="" alt="">
                        </div>
                        <div class="col ps-3">
                            <h6 class="m-0">@UserManager.GetUserName(User)</h6>
                            <small><a href="#">@await EmailStore.GetEmailAsync(await UserManager.GetUserAsync(User), new System.Threading.CancellationToken())</a></small>
                        </div>
                    </div>
                    <div class="bg-gray-200 p-3 border-bottom border-top">
                        <h6 class="m-0">Dashboard</h6>
                    </div>
                    <ul class="list-unstyled mb-0 theme-link">
                        <li class="border-bottom mb-0">
                            <a class="nav-link-style d-flex align-items-center p-3" asp-controller="Seller" asp-action="NewProduct">
                                <i class="bi bi-bookmark me-2"></i>New Product
                            </a>
                        </li>
                        <li class="border-bottom mb-0">
                            <a class="nav-link-style d-flex align-items-center p-3" asp-controller="Manage" asp-action="Index">
                                <i class="bi bi-bookmark me-2"></i>Account Settings
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="table-responsive col-lg-8 col-xxl-9">
                <table class="table table-bordered table-hover mb-0">
                    <thead class="text-700 bg-gray-200">
                        <tr>
                            <th class="fw-600">Product #</th>
                            <th class="fw-600">Product Name</th>
                            <th class="fw-600">Tags</th>
                            <th class="fw-600 text-end">Price</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (Product p in Model.UserPosts)
                        {
                            <tr>
                                <td class="p-3"><a class="link-dark" href="#order-details" data-bs-toggle="modal">@p.Id</a></td>
                                <td class="p-3">@p.Name</td>
                                <td class="p-3"><span class="badge bg-info m-0">@p.Tags</span></td>
                                <td class="p-3 text-end">$@p.Price</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>