﻿<!-- End Main -->
<!-- Footer -->
<footer class="d-flex flex-column min-vh-40 bg-dark footer footer-border-top light">
    <div class="footer-top py-6">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 my-1">
                    <div class="pb-3">
                        <a asp-controller="Home" asp-action="Index">
                            <img src="/Custom/img/LogoBlack.png" title="" alt="">
                        </a>
                    </div>
                    <address class="white-link mb-4">
                        <p class="text-white-85 mb-2">This, That & The Other Street, <br /> Nova Scotia, Canada</p>
                        <p class="mb-2"><a class="border-bottom border-secondary">support@domain.com</a></p>
                        <p class="mb-2"><a class="border-bottom border-secondary">123-456-7890</a></p>
                    </address>
                    <div class="nav white-link fs-5">
                        <a class="me-3">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a class="me-3">
                            <i class="bi bi-twitter"></i>
                        </a>
                        <a class="me-3">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a class="me-3">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 my-4">
                    <h6 class="text-uppercase mb-5 text-white">
                        Support
                    </h6>
                    <ul class="list-unstyled white-link footer-link-1 m-0">
                        <li class="pb-2">
                            <a asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="pb-2">
                            <a asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                        </li>
                        <li class="pb-2">
                            <a asp-controller="Home" asp-action="FAQ">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3 my-4">
                    <h6 class="text-uppercase mb-5 text-white">
                        Policies
                    </h6>
                    <ul class="list-unstyled white-link footer-link-1 m-0">
                        <li class="pb-2">
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li class="pb-2">
                            <a href="#">Terms of use</a>
                        </li>
                        <li class="pb-2">
                            <a href="#">Shipping</a>
                        </li>
                        <li class="pb-2">
                            <a href="#">Return</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3 my-4">
                    <h6 class="text-uppercase mb-5 text-white">
                        Newsletter
                    </h6>
                    <p class="text-white-85">Join our Newsletter to keep up to date!</p>
                    <form>
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter your email">
                            <button class="btn btn-primary" type="submit"><i class="bi bi-envelope"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-2 footer-border-top light small">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start py-1">
                    <p class="m-0 text-white-85">© 2021 copyright by <a href="#" class="text-reset">Team-04</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>