﻿@inject SignInManager<ApplicationUser> SignInManager
<header class="header-main bg-white header-dark header-option-1">
    <div class="header-top pt-3 pb-2 py-md-2 py-lg-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-3 text-center text-md-start">
                    <!-- Logo -->
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="/Custom/img/Logo.png" title="" alt="">
                    </a>
                    <!-- Logo -->
                    <hr class="d-md-none mt-3 mb-2">
                </div>
                <!--Search Bar Start-->
                <div class="col-lg-6 d-none d-lg-block">
                    <form>
                        <div class="input-group">
                            <!-- Search input -->
                            <input class="form-control form-control-sm shadow-none px-3" type="text" name="search" placeholder="What are you looking for?">
                            <!-- Search button -->
                            <a asp-controller="Shop" asp-action="Index" type="button" class="btn btn-dark btn-sm shadow-none px-3">
                                <i class="bi bi-search"></i>
                            </a>
                        </div>
                    </form>
                </div>
                <!--Search Bar End-->
                <!-- Right Side Top Nav Bar -->
                <div class="col-md-6 col-lg-3">
                    <div class="nav flex-nowrap align-items-center justify-content-md-end header-right header-right-light w-100 w-md-auto position-relative">
                        <!-- Nav Search-->
                        <div class="nav-item dropdown position-static d-lg-none">
                            <a class="nav-link" href="#" role="button" id="dropdown_myaccount" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-search"> </i>
                            </a>
                            <div class="dropdown-menu w-100 w-lg-auto">
                                <form>
                                    <div class="input-group p-3">
                                        <!-- Search input -->
                                        <input class="form-control shadow-none" type="text" name="search" placeholder="What are you looking for?">
                                        <!-- Search button -->
                                        <button type="button" class="btn btn-primary shadow-none">
                                            <i class="bi bi-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <partial name="_NavLoginPartial" />
                        <!-- Mobile Toggle -->
                        <button class="navbar-toggler navbar-toggler-px-light ms-auto ms-md-0 d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <!-- End Mobile Toggle -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Top Header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
        <div class="container">
            <!-- Start bottom Header -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    .
                    <!-- Home Drop Down -->
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Shop" asp-action="Index">
                                All
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Shop" asp-action="Index">
                                Nature
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Shop" asp-action="Index">
                                Architecture
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Shop" asp-action="Index">
                                Landscape
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Shop" asp-action="Index">
                                Food
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Shop" asp-action="Index">
                                Portrait
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Shop" asp-action="Index">
                                Sports
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <!-- End Menu -->
        </div>
    </nav>

</header>
<!-- Header End -->