﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Title -->
        <title>@ViewData["Title"] | PhotoVoir</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <!-- Favicon -->
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- CSS Template -->
        <link href="/Custom/css/style.css" rel="stylesheet">
        @RenderSection("Stylesheets", false)
    </head>
    <body>
        <partial name="_HeaderPartial" />
        <div>
            <main>
                @RenderBody()
            </main>
        </div>
        <hr />
        <partial name="_FooterPartial" />
        <!-- End Footer -->
        <!-- jquery -->
        <script src="/Custom/js/jquery-3.5.1.min.js"></script>
        <!-- appear -->
        <script src="/Custom/vendor/appear/jquery.appear.js"></script>
        <!--bootstrap-->
        <script src="/Custom/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- slick carousel -->
        <script src="/Custom/vendor/slick/slick.min.js"></script>
        <!-- magnific -->
        <script src="/Custom/vendor/magnific/jquery.magnific-popup.min.js"></script>
        <!-- isotope -->
        <script src="/Custom/vendor/isotope/isotope.pkgd.min.js"></script>
        <!-- count-down -->
        <script src="/Custom/vendor/count-down/jquery.countdown.min.js"></script>
        <!-- Theme Js -->
        <script src="/Custom/js/custom.js"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
