﻿@using Microsoft.AspNetCore.Identity
@using Photovoir.Interfaces.Repositories.Cart
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IShoppingCartRepository ShoppingCartRepository
@inject IUserRoleStore<ApplicationUser> UserRoleStore
<!-- Account Nav Start-->
@if (!SignInManager.IsSignedIn(User))
{
    <div>
        <a class="nav-link" asp-controller="Account" asp-action="Login">
            Sign In
        </a>
    </div>
    <div class="nav-item dropdown">
        <a class="nav-link" asp-controller="Account" asp-action="Login" role="button">
            <i class="bi bi-person-circle"> </i>
        </a>
    </div>
}
else
{
    <div class="nav-item dropdown">
        <a class="nav-link" role="button" id="dropdown_myaccount" data-bs-toggle="dropdown" data-bs-display="static" aria-haspopup="true" aria-expanded="false">
            <i>@UserManager.GetUserName(User) </i>
            <i class="bi bi-person-circle"> </i>
        </a>
        <form class="dropdown-menu dropdown-menu-hover right shadow" aria-labelledby="dropdown_myaccount" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="dropdown-item" asp-controller="Manage" asp-action="Index">My account</a>
                </li>
                @if (await UserRoleStore.IsInRoleAsync(await UserManager.GetUserAsync(User), "Seller", new System.Threading.CancellationToken()))
                {
                    <li>
                        <a class="dropdown-item" asp-controller="Seller" asp-action="Profile">Seller Profile</a>
                    </li>
                }
                <li>
                    <button type="submit" class="dropdown-item">Log out</button>
                </li>
            </ul>
        </form>
    </div>
    <!-- Wishlist -->
    <div class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Wishlist">
            <i class="bi bi-heart"> </i>
        </a>
    </div>
    <!-- Cart -->
    <div class="nav-item me-md-3 me-lg-0">
        <a class="nav-link" asp-controller="Account" asp-action="ShoppingCart">
            <span class="">
                <i class="bi bi-cart"> </i>
            </span>
        </a>
    </div>
    <!-- Account Nav End -->
}
