﻿<!-- section -->
<section class="py-3">
    <div class="container-fluid">
        <div class="row g-3">
            <div class="col-lg-3">
                <div class="position-relative hover-scale">
                    <a class="stretched-link" asp-controller="Shop" asp-action="Index"></a>
                    <div class="hover-scale-in">
                        <img class="w-100" src="/Custom/img/Catagories/LandscapeCatagory.jpg" title="" alt="">
                    </div>
                    <div class="position-absolute top-0 start-0 w-100">
                        <div class="w-100 p-4 text-center">
                            <h3 class="mb-3">LandScape</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="position-relative hover-scale">
                    <a class="stretched-link" asp-controller="Shop" asp-action="Index"></a>
                    <div class="hover-scale-in">
                        <img class="w-100" src="/Custom/img/Catagories/NatureCatagory.jpg" title="" alt="">
                    </div>
                    <div class="position-absolute top-0 start-0 w-100">
                        <div class="w-100 p-4 text-center">
                            <h3 class="mb-3">Nature</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="position-relative hover-scale">
                    <a class="stretched-link" asp-controller="Shop" asp-action="Index"></a>
                    <div class="hover-scale-in">
                        <img class="w-100" src="/Custom/img/Catagories/PortraitCatagory.jpg" title="" alt="">
                    </div>
                    <div class="position-absolute top-0 start-0 w-100">
                        <div class="w-100 p-4 text-center">
                            <h3 class="mb-3">Portrait</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="position-relative hover-scale">
                    <a class="stretched-link" asp-controller="Shop" asp-action="Index"></a>
                    <div class="hover-scale-in">
                        <img class="w-100" src="/Custom/img/Catagories/ArchitectureCatagory.jpg" title="" alt="">
                    </div>
                    <div class="position-absolute top-0 start-0 w-100">
                        <div class="w-100 p-4 text-center">
                            <h3 class="mb-3">Architecture</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End section -->