﻿@inject SignInManager<ApplicationUser> SignInManager
<!-- Home Slider -->
<section class="bg-cover bg-center bg-no-repeat" style="background-image: url(https://wallpaperaccess.com/full/7245044.jpg); ">
    <div class="container">
        <div class="row align-items-center min-vh-85 justify-content-center">
            <div class="col-lg-6 text-center">
                <h1 class="display-2 fw-600">Welcome to PhotoVoir</h1>
                <p class="lead text-dark">Home of Independent Photography</p>
                @if (!SignInManager.IsSignedIn(User))
                {
                    <div class="pt-2">
                        <a class="btn btn-dark" asp-area="" asp-controller="Account" asp-action="Register" tabindex="0">Sign Up!</a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- End Home Slider -->