﻿@{
    ViewData["Title"] = "About";
}
<!-- Breadcrumb -->
<div class="py-3 bg-gray-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 my-2">
                <h1 class="m-0 h4 text-center text-lg-start">About Us</h1>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<!-- Section -->
<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 my-3">
                <img src="../static/img/1000x1000.jpg" alt="" title="" class="img-fluid">
            </div>
            <div class="col-lg-6 ps-lg-8 my-3">
                <h6 class="mb-3 text-gray-400">
                    Our story
                </h6>
                <h2 class="mb-4">About our Store</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->
<!-- Section -->
<section class="section bg-gray-100">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-4">
                <div class="pe-lg-5">
                    <h3 class="mb-3">Our vission</h3>
                    <p class="m-0">Flone provide how all this mistaken idea of denounc pleasure and sing pain was born an will give you a ete account of the system, and expound the actual teangs the eat explorer of the truth.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pe-lg-5">
                    <h3 class="mb-3">Our mission </h3>
                    <p class="m-0">Flone provide how all this mistaken idea of denounc pleasure and sing pain was born an will give you a ete account of the system, and expound the actual teangs the eat explorer of the truth.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pe-lg-5">
                    <h3 class="mb-3">Our goal</h3>
                    <p class="m-0">Flone provide how all this mistaken idea of denounc pleasure and sing pain was born an will give you a ete account of the system, and expound the actual teangs the eat explorer of the truth.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->
<!-- About us End -->