﻿@using Photovoir.Interfaces.Repositories.Cart
@{
    ViewData["Title"] = "Home";
}
@model FeaturedPanelViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject ICartItemRepository CartItemRepository
<partial name="_HomeSliderPartial" />

@if (SignInManager.IsSignedIn(User))
{
    <partial name="_CatagoryPartial" />
    <hr />
    <section class="section">
        <div class="container">
            <div class="row justify-content-center section-heading">
                <div class="col-lg-6 text-center">
                    <h3 class="h3 m-0 sm-title-01">Featured</h3>
                </div>
            </div>
            <div class="slick-carousel slick-nav-dark" data-slick='{
                    "slidesToShow": 4,
                    "slidesToScroll": 1,
                    "centerMode": true,
                    "centerPadding": "30px",
                    "focusOnSelect": true,
                    "infinite": true,
                    "responsive": [
                        {
                            "breakpoint":1200,
                            "settings":{
                                "slidesToShow": 4
                            }
                        },
                        {
                            "breakpoint":992,
                            "settings":{
                                "slidesToShow": 3
                            }
                        },
                        {
                            "breakpoint":768,
                            "settings":{
                                "slidesToShow": 2
                            }
                        },
                        {
                            "breakpoint":576,
                            "settings":{
                                "slidesToShow": 1
                            }
                        }
                    ]
                    }'>
                <div class="p-2">
                    <div class="product-card-5">
                        <div class="product-card-image">
                            <div class="product-wishlist-btn">
                                <a href="#" class="btn btn-primary">
                                    <i class="bi bi-heart"></i>
                                </a>
                            </div>
                            <div class="product-media">
                                <a href="#">
                                    <img class="img-fluid" src="/Custom/img/Featured/Featured1.jpg" title="" alt="">
                                    <img class="product-hover-img" src="/Custom/img/Featured/Featured1.jpg" title="" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-card-info">
                            <h6 class="product-title">
                                <a href="#">@Model.FeaturedPhotography[0].Name</a>
                            </h6>
                            <a href="#">@await UserStore.GetUserNameAsync(await UserManager.FindByIdAsync((Model.FeaturedPhotography[0].AuthorId).ToString()), new System.Threading.CancellationToken())</a>
                            <div class="product-price">
                                <span class="text-primary">$@Model.FeaturedPhotography[0].Price.<small>00</small></span>
                            </div>
                            <div class="product-cart-btn">
                                <a class="btn btn-dark btn-sm" href="#"><i class="bi bi-cart"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <div class="product-card-5">
                        <div class="product-card-image">
                            <div class="product-wishlist-btn">
                                <a href="#" class="btn btn-primary">
                                    <i class="bi bi-heart"></i>
                                </a>
                            </div>
                            <div class="product-media">
                                <a href="#">
                                    <img class="img-fluid" src="/Custom/img/Featured/Featured2.jpg" title="" alt="">
                                    <img class="product-hover-img" src="/Custom/img/Featured/Featured2.jpg" title="" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-card-info">
                            <h6 class="product-title">
                                <a href="#">@Model.FeaturedPhotography[1].Name</a>
                            </h6>
                            <a href="#">@await UserStore.GetUserNameAsync(await UserManager.FindByIdAsync((Model.FeaturedPhotography[1].AuthorId).ToString()), new System.Threading.CancellationToken())</a>
                            <div class="product-price">
                                <span class="text-primary">$@Model.FeaturedPhotography[1].Price.<small>00</small></span>
                            </div>
                            <div class="product-cart-btn">
                                <a class="btn btn-dark btn-sm" href="#"><i class="bi bi-cart"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <div class="product-card-5">
                        <div class="product-card-image">
                            <div class="product-wishlist-btn">
                                <a href="#" class="btn btn-primary">
                                    <i class="bi bi-heart"></i>
                                </a>
                            </div>
                            <div class="product-media">
                                <a href="#">
                                    <img class="img-fluid" src="/Custom/img/Featured/Featured3.jpg" title="" alt="">
                                    <img class="product-hover-img" src="/Custom/img/Featured/Featured3.jpg" title="" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-card-info">
                            <h6 class="product-title">
                                <a href="#">@Model.FeaturedPhotography[2].Name</a>
                            </h6>
                            <a href="#">@await UserStore.GetUserNameAsync(await UserManager.FindByIdAsync((Model.FeaturedPhotography[2].AuthorId).ToString()), new System.Threading.CancellationToken())</a>
                            <div class="product-price">
                                <span class="text-primary">$@Model.FeaturedPhotography[2].Price.<small>00</small></span>
                            </div>
                            <div class="product-cart-btn">
                                <a class="btn btn-dark btn-sm" href="#"><i class="bi bi-cart"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <div class="product-card-5">
                        <div class="product-card-image">
                            <div class="product-wishlist-btn">
                                <a href="#" class="btn btn-primary">
                                    <i class="bi bi-heart"></i>
                                </a>
                            </div>
                            <div class="product-media">
                                <a href="#">
                                    <img class="img-fluid" src="/Custom/img/Featured/Featured4.jpg" title="" alt="">
                                    <img class="product-hover-img" src="/Custom/img/Featured/Featured4.jpg" title="" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-card-info">
                            <h6 class="product-title">
                                <a href="#">@Model.FeaturedPhotography[3].Name</a>
                            </h6>
                            <a href="#">@await UserStore.GetUserNameAsync(await UserManager.FindByIdAsync((Model.FeaturedPhotography[3].AuthorId).ToString()), new System.Threading.CancellationToken())</a>
                            <div class="product-price">
                                <span class="text-primary">$@Model.FeaturedPhotography[3].Price.<small>00</small></span>
                            </div>
                            <div class="product-cart-btn">
                                <a class="btn btn-dark btn-sm" href="#"><i class="bi bi-cart"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <div class="product-card-5">
                        <div class="product-card-image">
                            <div class="product-wishlist-btn">
                                <a href="#" class="btn btn-primary">
                                    <i class="bi bi-heart"></i>
                                </a>
                            </div>
                            <div class="product-media">
                                <a href="#">
                                    <img class="img-fluid" src="/Custom/img/Featured/Featured5.jpg" title="" alt="">
                                    <img class="product-hover-img" src="/Custom/img/Featured/Featured5.jpg" title="" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-card-info">
                            <h6 class="product-title">
                                <a href="#">@Model.FeaturedPhotography[4].Name</a>
                            </h6>
                            <a href="#">@await UserStore.GetUserNameAsync(await UserManager.FindByIdAsync((Model.FeaturedPhotography[4].AuthorId).ToString()), new System.Threading.CancellationToken())</a>
                            <div class="product-price">
                                <span class="text-primary">$@Model.FeaturedPhotography[4].Price.<small>00</small></span>
                            </div>
                            <div class="product-cart-btn">
                                <a class="btn btn-dark btn-sm" href="#"><i class="bi bi-cart"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <div class="product-card-5">
                        <div class="product-card-image">
                            <div class="product-wishlist-btn">
                                <a href="#" class="btn btn-primary">
                                    <i class="bi bi-heart"></i>
                                </a>
                            </div>
                            <div class="product-media">
                                <a href="#">
                                    <img class="img-fluid" src="/Custom/img/Featured/Featured6.jpg" title="" alt="">
                                    <img class="product-hover-img" src="/Custom/img/Featured/Featured6.jpg" title="" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-card-info">
                            <h6 class="product-title">
                                <a href="#">@Model.FeaturedPhotography[5].Name</a>
                            </h6>
                            <a href="#">@await UserStore.GetUserNameAsync(await UserManager.FindByIdAsync((Model.FeaturedPhotography[5].AuthorId).ToString()), new System.Threading.CancellationToken())</a>
                            <div class="product-price">
                                <span class="text-primary">$@Model.FeaturedPhotography[5].Price.<small>00</small></span>
                            </div>
                            <div class="product-cart-btn">
                                <a class="btn btn-dark btn-sm" href="#"><i class="bi bi-cart"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Product section -->
}
