﻿@using Photovoir.Models.Shop
@using Photovoir.Data.Products
@model ShopViewModel
@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore 
@{
    ViewData["Title"] = "Shop";
}
<!-- Breadcrumb -->
<div class="py-3 bg-gray-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 my-2">
                <h1 class="m-0 h4 text-center text-lg-start">Shop</h1>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<!-- Shop -->
<section class="py-6">
    <div class="container">
        <!-- Product Box -->
        <div class="shop-top-bar d-flex pb-3">
            <div class="layout-change">
                <!-- Mobile Toggle -->
                <button class="btn btn-sm w-auto px-3 small" type="button" data-bs-toggle="collapse" data-bs-target="#shop_filter" aria-controls="shop_filter" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fs-4 lh-1 bi bi-justify-left me-2"></i> Filter
                </button>
                <!-- End Mobile Toggle -->
            </div>
            <div class="shortby-dropdown ms-auto">
                <div class="dropdown">
                    <a class="btn btn-white btn-sm border dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Short by
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Featured</a></li>
                        <li><a class="dropdown-item" href="#">Best selling</a></li>
                        <li><a class="dropdown-item" href="#">Alphabetically, A-Z</a></li>
                        <li><a class="dropdown-item" href="#">Alphabetically, Z-A</a></li>
                        <li><a class="dropdown-item" href="#">Price, low to high</a></li>
                        <li><a class="dropdown-item" href="#">Price, high to low</a></li>
                        <li><a class="dropdown-item" href="#">Date, old to new</a></li>
                        <li><a class="dropdown-item" href="#">Date, new to old</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Sidebar -->
        <div class="shadow collapse" id="shop_filter">
            <div class="p-4 mb-4">
                <div class="row">
                    <!-- Categories -->
                    <div class="col-lg-3 col-sm-6 shop-sidebar-block my-2">
                        <div class="shop-sidebar-title">
                            <a class="h5" data-bs-toggle="collapse" href="#shop_categories" role="button" aria-expanded="true" aria-controls="shop_categories">Categories <i class="bi bi-chevron-up"></i></a>
                        </div>
                        <div class="shop-category-list collapse show" id="shop_categories">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a href="#" class="nav-link active">All Products</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link ">Landscape <span>(25)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link ">Architecture <span>(40)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link ">Nature <span>(35)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link ">Food<span>(80)</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Categories -->
                    <!-- Price -->
                    <div class="col-lg-3 col-sm-6 shop-sidebar-block my-2">
                        <div class="shop-sidebar-title">
                            <a class="h5" data-bs-toggle="collapse" href="#shop_price" role="button" aria-expanded="true" aria-controls="shop_price">Price <i class="bi bi-chevron-up"></i></a>
                        </div>
                        <div class="shop-sidebar-list collapse show" id="shop_price">
                            <ul>
                                <li class="custom-checkbox">
                                    <input class="custom-control-input" id="price1" type="checkbox">
                                    <label class="custom-control-label" for="price1">
                                        $10.00 - $49.00
                                    </label>
                                </li>
                                <li class="custom-checkbox">
                                    <input class="custom-control-input" id="price2" type="checkbox">
                                    <label class="custom-control-label" for="price2">
                                        $50.00 - $99.00
                                    </label>
                                </li>
                                <li class="custom-checkbox">
                                    <input class="custom-control-input" id="price3" type="checkbox">
                                    <label class="custom-control-label" for="price3">
                                        $100.00 - $199.00
                                    </label>
                                </li>
                                <li class="custom-checkbox">
                                    <input class="custom-control-input" id="price4" type="checkbox">
                                    <label class="custom-control-label" for="price4">
                                        $200.00 and Up
                                    </label>
                                </li>
                            </ul>
                            <div class="d-flex align-items-center pt-3">
                                <!-- Input -->
                                <input type="number" class="form-control form-control-sm" placeholder="$10.00" min="10">
                                <!-- Divider -->
                                <div class="text-gray-350 mx-2">‒</div>
                                <!-- Input -->
                                <input type="number" class="form-control form-control-sm" placeholder="$350.00" max="350">
                            </div>
                        </div>
                    </div>
                    <!-- End Price -->
                </div>
            </div>
        </div>
        <!-- End Sidebar -->
        <div class="row g-3">
            @foreach (Product p in Model.Products)
            {
                <!-- Product Box -->
                <div class="col-sm-6 col-lg-3">
                    <div class="product-card-1">
                        <div class="product-card-image">
                            <div class="product-action">
                                <a href="#" class="btn btn-outline-primary">
                                    <i class="bi bi-heart"></i>
                                </a>
                                <a asp-controller="Shop" asp-action="ProductDetails" class="btn btn-outline-primary">
                                    <i class="bi bi-eye-fill"></i>
                                </a>
                            </div>
                            <div class="product-media">
                                <a asp-controller="Shop" asp-action="ProductDetails">
                                    <img class="img-fluid" src="/Custom/img/grey.jpg" title="" alt="">
                                </a>
                                <div class="product-cart-btn">
                                    <a href="#" class="btn btn-primary btn-sm w-100">
                                        <i class="bi bi-cart"></i>
                                        Add to cart
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="product-card-info">
                            <div class="product-meta small">
                                <a href="#">@await UserStore.GetUserNameAsync(await UserManager.FindByIdAsync((p.AuthorId).ToString()), new System.Threading.CancellationToken())</a>
                            </div>
                            <h6 class="product-title">
                                <a href="#">@p.Name</a>
                            </h6>
                            <div class="product-price">
                                <span class="text-primary">$@p.Price.<small>00</small></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Product Box -->
            }
    </div>
</section>
<!-- End Shop -->