﻿@{
    ViewData["Title"] = "Product";
}

<!-- Main -->
<main>
    <!-- Breadcrumb -->
    <div class="py-3 bg-gray-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 my-2">
                    <h1 class="m-0 h4 text-center text-lg-start">Product Details</h1>
                </div>
                <div class="col-lg-6 my-2">
                    <ol class="breadcrumb dark-link m-0 small justify-content-center justify-content-lg-end">
                        <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Shop" asp-action="Index"><i class="bi bi-home"></i>Shop</a></li>
                        <li class="breadcrumb-item text-nowrap active" aria-current="page">Product</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->
    <!-- Product Details -->
    <section class="product-details py-6">
        <div class="container">
            <div class="row">
                <!-- Product Gallery -->
                <div class="col-lg-3">
                    <div class="position-relative hover-scale">
                        <a class="stretched-link" href="#"></a>
                        <div class="hover-scale-in">
                            <img class="w-100" src="/Custom/img/grey.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
                <!-- End Product Gallery -->
                <!-- Product Details -->
                <div class="col-lg-6 ps-lg-5">
                    <div class="product-detail pt-4 pt-lg-0">
                        <div class="products-brand pb-2">
                            <span>Author</span>
                        </div>
                        <div class="products-title mb-2">
                            <h4 class="h4">Photo-Name</h4>
                        </div>
                        <div class="product-price fs-3 fw-500 mb-2">
                            <span class="text-primary">$28.<small>50</small></span>
                        </div>
                        <div class="product-detail-actions d-flex flex-wrap pt-3">
                            <div class="cart-qty me-3 mb-3">
                                <div class="dec qty-btn">-</div>
                                <input class="cart-qty-input form-control" type="text" name="qtybutton" value="1">
                                <div class="inc qty-btn">+</div>
                            </div>
                            <div class="cart-button mb-3 d-flex">
                                <button class="btn btn-dark me-3">
                                    <i class="bi bi-cart"></i> Add to cart
                                </button>
                                <button class="btn btn-outline-dark me-3">
                                    <i class="bi bi-heart"></i>
                                </button>
                            </div>
                        </div>
                        <div class="pt-3 border-top mt-3 small">
                            <p class="theme-link mb-2">
                                <label class="m-0 text-dark">Tags:</label>
                                <a href="#">Landscape</a>
                            </p>
                            <p class="theme-link m-0">
                                <label class="m-0 text-dark">Share:</label>
                                <a class="icon icon-sm icon-secondary me-2" href="#">
                                    <i class="bi bi-facebook"></i>
                                </a>
                                <a class="icon icon-sm icon-secondary me-2" href="#">
                                    <i class="bi bi-twitter"></i>
                                </a>
                                <a class="icon icon-sm icon-secondary me-2" href="#">
                                    <i class="bi bi-instagram"></i>
                                </a>
                                <a class="icon icon-sm icon-secondary me-2" href="#">
                                    <i class="bi bi-linkedin"></i>
                                </a>
                            </p>
                        </div>
                        <div class="pt-4">
                            <img class="img-fluid" src="../static/img/payment-details.png" title="" alt="">
                        </div>
                    </div>
                </div>
                <!-- End Product Details -->
            </div>
        </div>
    </section>
    <!-- End Product Details -->
    <!-- Product Tabs -->
    <section class="pb-6 py-md-6 pb-lg-10 pt-lg-5">
        <div class="container">
            <div class="product-tabs">
                <ul class="nav product-nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a href="#" class="nav-link active" id="pd_description_tab" data-bs-toggle="tab" data-bs-target="#pd_description" role="tab" aria-controls="pd_description" aria-selected="true">Description</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="pd_description" role="tabpanel" aria-labelledby="pd_description_tab">
                        <div class="row">
                            <div class="col-lg-7 pe-lg-10">
                                <h5>Details Description</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div class="col-lg-5">
                                <div class="pb-3">
                                    <img src="~/Custom/img/grey.jpg" class="img-fluid" title="" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Product Tabs -->
</main>
<!-- End Main -->