﻿<!-- Main -->
<main>
    <!-- Breadcrumb -->
    <div class="py-3 bg-gray-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 my-2">
                    <h1 class="m-0 h4 text-center text-lg-start">Checkout</h1>
                </div>
                <div class="col-lg-6 my-2">
                    <ol class="breadcrumb dark-link m-0 small justify-content-center justify-content-lg-end">
                        <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Account" asp-action="ShoppingCart"><i class="bi bi-home"></i>ShoppingCart</a></li>
                        <li class="breadcrumb-item text-nowrap active" aria-current="page">Checkout</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->
    <!-- Table -->
    <div class="py-6">
        <div class="container">
            <div class="row flex-row-reverse">
                <!-- sidebar -->
                <div class="col-lg-5 ps-lg-5">
                    <div class="card">
                        <div class="card-body">
                            <ul class="list-unstyled m-0 p-0">
                                <li class="pb-3 mb-3 border-bottom">
                                    <div class="row align-items-center">
                                        <div class="col-4 col-md-2 col-lg-2">
                                            <!-- Image -->
                                            <a href="#">
                                                <img class="img-fluid border" src="../static/img/1000x1000.jpg" alt="...">
                                            </a>
                                        </div>
                                        <div class="col-8">
                                            <!-- Title -->
                                            <p class="mb-1">
                                                <a class="text-dark fw-500" href="#">Cotton floral print Dress</a>
                                                <span class="m-0 text-muted w-100 d-block">$40.00</span>
                                            </p>
                                            <!-- Remove -->
                                            <a class="small link-danger ms-auto" href="#!">
                                                <i class="bi bi-x"></i> Remove
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-unstyled m-0">
                                <li class="d-flex justify-content-between align-items-center mb-2">
                                    <h6 class="me-2 text-body">Subtotal</h6><span class="text-end">$265.00</span>
                                </li>
                                <li class="d-flex justify-content-between align-items-center mb-2">
                                    <h6 class="me-2 text-body">Taxes</h6><span class="text-end">$265.00</span>
                                </li>
                                <li class="d-flex justify-content-between align-items-center border-top pt-3 mt-3">
                                    <h6 class="me-2">Grand Total</h6><span class="text-end text-dark">$265.00</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="border-bottom mb-4 pb-3">Shipping address</h5>
                            <form>
                                <div class="row">
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">First Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">Last Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">Email Address</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">Street</label>
                                        <input type="email" class="form-control" id="exampleInputEmail3">
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">City</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">ZIP</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">State</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">Phone Number</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="accordion accordion-alt pt-4" id="payment-methods">
                        <div class="card mb-3 shadow-none border">
                            <div class="card-header p-0 position-relative bg-transparent">
                                <div class="form-check m-3" data-bs-toggle="collapse" data-bs-target="#credit-card">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked="">
                                    <label class="form-check-label h6 m-0 w-100 stretched-link" for="flexRadioDefault1">
                                        Credit Card
                                    </label>
                                </div>
                            </div>
                            <div class="collapse show" id="credit-card" data-bs-parent="#payment-methods">
                                <div class="card-body p-3">
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="cc-number">Card number</label>
                                        <input class="form-control" type="text" id="cc-number" data-format="card" placeholder="0000 0000 0000 0000">
                                    </div>
                                    <div class="g-2 row">
                                        <div class="col-7 form-group mb-1">
                                            <label class="form-label" for="cc-expiry">Expiry date</label>
                                            <input class="form-control" type="text" id="cc-expiry" data-format="date" placeholder="mm/yy">
                                        </div>
                                        <div class="col-5 form-group mb-1">
                                            <label class="form-label" for="cc-cvc">CVC</label>
                                            <input class="form-control" type="password" id="cc-cvc" data-format="cvc" placeholder="000">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="pt-4">
                        <button type="submit" class="btn btn-primary w-100">Place Order</button>
                        <p class="m-0 pt-3">By placing your order you agree to our <a href="#">Terms & Conditions</a>, <a href="#">privacy and returns</a> policies. You also consent to some of your data being stored by ShopApp, which may be used to make future shopping experiences better for you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Table -->
</main>