﻿@{
    ViewData["Title"] = "Password Reset";
}
<!-- Breadcrumb -->
<div class="py-3 bg-gray-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 my-2">
                <h1 class="m-0 h4 text-center text-lg-start">Password Reset</h1>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<div class="section">
    <div class="container">
        <div class="justify-content-center row">
            <div class="col-lg-5 col-xxl-4">
                <div class="card">
                    <div class="card-header bg-transparent py-3">
                        <h3 class="h4 mb-0">Forgot password </h3>
                    </div>
                    <div class="card-body">
                        <form class="">
                            <div class="form-group mb-3">
                                <label for="email_1" class="form-label">Email<span class="text-danger">*</span></label>
                                <input type="text" id="email_1" class="form-control" placeholder="E-mail">
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary w-100">
                                    Submit
                                </button>
                            </div>
                        </form>
                        <div class="pt-4 text-center">
                            <span class="text-muted">Have an account? <a href="login.html">Login here</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>