﻿@using System.Linq
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Login";
}

<!-- Breadcrumb -->
<div class="py-3 bg-gray-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 my-2">
                <h1 class="m-0 h4 text-center text-lg-start">Login</h1>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<!-- login page -->
<div class="section">
    <div class="container">
        <div class="justify-content-center row">
            <div class="col-lg-5 col-xxl-4">
                <div class="card">
                    <div class="card-header bg-transparent py-3">
                        <h3 class="h4 mb-0">Login </h3>
                    </div>
                    <div class="card-body">
                        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group mb-3">
                                <label asp-for="Email" class="form-label">Email<span class="text-danger">*</span></label>
                                <input asp-for="Email" type="text" class="form-control" placeholder="E-mail">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <div class="row align-items-center">
                                    <label class="form-label col" asp-for="Password">Password<span class="text-danger">*</span></label>
                                    <span class="col ms-auto small text-end"><a asp-controller="Account" asp-action="ForgotPassword">Forgot password?</a></span>
                                </div>
                                <input asp-for="Password" type="password" class="form-control" placeholder="*********">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <!-- Checkbox -->
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe" />
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary w-100">
                                    Log in
                                </button>
                            </div>
                            <div class="pt-4 text-center">
                                <span class="text-muted">Don't have an account? <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Signup here</a></span>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end login -->

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}