﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<!-- Breadcrumb -->
<div class="py-3 bg-gray-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 my-2">
                <h1 class="m-0 h4 text-center text-lg-start">Register</h1>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<!-- signup page -->
<div class="section">
    <div class="container">
        <div class="justify-content-center row">
            <div class="col-lg-10 col-xxl-6">
                <div class="card">
                    <div class="card-header bg-transparent py-3">
                        <h3 class="h4 mb-0">Register </h3>
                    </div>
                    <div class="card-body">
                        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                            <div class="row">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label asp-for="Username" class="form-label">Name<span class="text-danger">*</span></label>
                                        <input asp-for="Username" type="text" class="form-control" placeholder="Name">
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label asp-for="Email" class="form-label">Email<span class="text-danger">*</span></label>
                                        <input asp-for="Email" type="email" class="form-control" placeholder="E-mail">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label asp-for="Password" class="form-label col">Password<span class="text-danger">*</span></label>
                                        <input asp-for="Password" type="password" class="form-control" placeholder="*********">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label asp-for="ConfirmPassword" class="form-label col">Conform Password<span class="text-danger">*</span></label>
                                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="*********">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-check mb-4">
                                    <label asp-for="Role" class="form-label" for="address-country">Select</label>
                                    <select asp-for="Role" class="form-select">
                                        <option value="">Select</option>
                                        <option value="Buyer">Buyer</option>
                                        <option value="Seller">Seller</option>
                                    </select>
                                    <span asp-validation-for="Role" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">
                                        Create Account
                                    </button>
                                </div>
                                <div class="col-12 col-sm text-sm-end mt-3 mt-sm-0">
                                    <span class="text-muted">Have an account? <a asp-controller="Account" asp-action="Login">Login here</a></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end signup -->
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}