﻿@model ChangeAddressViewModel
<!-- Breadcrumb -->
<div class="py-3 bg-gray-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 my-2">
                <h1 class="m-0 h4 text-center text-lg-start">Address</h1>
            </div>
            <div class="col-6 my-2">
                <ol class="breadcrumb dark-link m-0 small justify-content-center justify-content-lg-end">
                    <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Manage" asp-action="Index"><i class="bi bi-home"></i>Personal Details</a></li>
                    <li class="breadcrumb-item"><a class="text-nowrap"><i class="bi bi-home"></i>Address</a></li>
                    <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Manage" asp-action="ChangePayment"><i class="bi bi-home"></i>Payment</a></li>
                    <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Manage" asp-action="ChangePassword"><i class="bi bi-home"></i>Password</a></li>
                    <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Manage" asp-action="Orders"><i class="bi bi-home"></i>Orders</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->
<div class="py-6">
    <div class="container">
        <div class="justify-content-center row">
            <div class="col-lg-6 col-xxl-4">
                <div class="card">
                    <div class="card-header bg-transparent py-3">
                        <h3 class="h4 mb-0">Update</h3>
                    </div>
                    <div class="card-body">
                        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="mb-3">
                                <label asp-for="AddressLine1" class="form-label">Address Line 1<span class="text-danger">*</span></label>
                                <input asp-for="AddressLine1" type="text" class="form-control" placeholder="@Model.AddressLine1">
                                <span asp-validation-for="AddressLine1" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="AddressLine2" class="form-label">Address Line 2<span class="text-danger">*</span></label>
                                <input asp-for="AddressLine2" type="text" class="form-control" placeholder="@Model.AddressLine2">
                                <span asp-validation-for="AddressLine2" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 mb-3">
                                    <label asp-for="City" class="form-label">City<span class="text-danger">*</span></label>
                                    <input asp-for="City" type="text" class="form-control" placeholder="@Model.City">
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label asp-for="Country" class="form-label" for="address-country">@Model.Country</label>
                                    <select asp-for="Country" class="form-select" required="">
                                        <option value="">Select country</option>
                                        <option value="Argentina">Argentina</option>
                                        <option value="Ireland">Ireland</option>
                                        <option value="Belgium">Belgium</option>
                                        <option value="France">France</option>
                                        <option value="Germany">Germany</option>
                                        <option value="Spain">Spain</option>
                                        <option value="UK">United Kingdom</option>
                                        <option value="USA">USA</option>
                                    </select>
                                    <span asp-validation-for="Country" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label asp-for="ZipCode" class="form-label">Zip-Code<span class="text-danger">*</span></label>
                                <input asp-for="ZipCode" type="text" class="form-control" placeholder="@Model.ZipCode">
                                <span asp-validation-for="ZipCode" class="text-danger"></span>
                            </div>
                            <div class="form-group mt-4"><button type="submit" class="btn btn-primary">Save Changes</button></div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}