﻿@model ChangePaymentViewModel
<!-- Breadcrumb -->
<div class="py-3 bg-gray-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 my-2">
                <h1 class="m-0 h4 text-center text-lg-start">Payment</h1>
            </div>
            <div class="col-6 my-2">
                <ol class="breadcrumb dark-link m-0 small justify-content-center justify-content-lg-end">
                    <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Manage" asp-action="Index"><i class="bi bi-home"></i>Personal Details</a></li>
                    <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Manage" asp-action="ChangeAddress"><i class="bi bi-home"></i>Address</a></li>
                    <li class="breadcrumb-item"><a class="text-nowrap" ><i class="bi bi-home"></i>Payment</a></li>
                    <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Manage" asp-action="ChangePassword"><i class="bi bi-home"></i>Password</a></li>
                    <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Manage" asp-action="Orders"><i class="bi bi-home"></i>Orders</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->
<div class="py-6">
    <div class="container">
        <div class="justify-content-center row">
            <div class="col-lg-6 col-xxl-4">
                <div class="card">
                    <div class="card-header bg-transparent py-3">
                        <h3 class="h4 mb-0">Update</h3>
                    </div>
                    <div class="card-body">
                        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="mb-3">
                                <label asp-for="CardNumber" class="form-label">Card Number<span class="text-danger">*</span></label>
                                <input asp-for="CardNumber" type="text" class="form-control" placeholder="@Model.CardNumber">
                                <span asp-validation-for="CardNumber" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 mb-3">
                                    <label asp-for="NameOnCard" class="form-label">Name on Card<span class="text-danger">*</span></label>
                                    <input asp-for="NameOnCard" type="text" class="form-control" placeholder="@Model.NameOnCard">
                                    <span asp-validation-for="NameOnCard" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label asp-for="ExpiryDate" class="form-label">Expiry<span class="text-danger">*</span></label>
                                    <input asp-for="ExpiryDate" type="text" class="form-control" placeholder="@Model.ExpiryDate">
                                    <span asp-validation-for="ExpiryDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group mt-4"><button type="submit" class="btn btn-primary">Save Changes</button></div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
