﻿@model ChangePasswordViewModel
<!-- Breadcrumb -->
<div class="py-3 bg-gray-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 my-2">
                <h1 class="m-0 h4 text-center text-lg-start">Password</h1>
            </div>
            <div class="col-6 my-2">
                <ol class="breadcrumb dark-link m-0 small justify-content-center justify-content-lg-end">
                    <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Manage" asp-action="Index"><i class="bi bi-home"></i>Personal Details</a></li>
                    <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Manage" asp-action="ChangeAddress"><i class="bi bi-home"></i>Address</a></li>
                    <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Manage" asp-action="ChangePayment"><i class="bi bi-home"></i>Payment</a></li>
                    <li class="breadcrumb-item"><a class="text-nowrap"><i class="bi bi-home"></i>Password</a></li>
                    <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Manage" asp-action="Orders"><i class="bi bi-home"></i>Orders</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<div class="py-6">
    <div class="container">
        <div class="justify-content-center row">
            <div class="col-lg-5 col-xxl-4">
                <div class="card">
                    <div class="card-header bg-transparent py-3">
                        <h3 class="h4 mb-0">Update</h3>
                    </div>
                    <div class="card-body">
                        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group mb-3">
                                <label asp-for="OldPassword" class="form-label">Old Password<span class="text-danger">*</span></label>
                                <input asp-for="OldPassword" type="password" id="email_1" class="form-control" placeholder="Old Password">
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="NewPassword" class="form-label">New Password<span class="text-danger">*</span></label>
                                <input asp-for="NewPassword" type="password" id="email_1" class="form-control" placeholder="New Password">
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="ConfirmPassword" class="form-label">Confirm Password<span class="text-danger">*</span></label>
                                <input asp-for="ConfirmPassword" type="password" id="email_1" class="form-control" placeholder="Confirm Password">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary w-100">
                                    Save Changes
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}