﻿@using Microsoft.AspNetCore.Identity;
@using System.Threading;
@model IndexViewModel
@inject IUserStore<ApplicationUser> UserStore
@inject IUserEmailStore<ApplicationUser> EmailStore
@inject IUserPhoneNumberStore<ApplicationUser> PhoneStore
@inject UserManager<ApplicationUser> UserManager
<!-- Breadcrumb -->
<div class="py-3 bg-gray-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 my-2">
                <h1 class="m-0 h4 text-center text-lg-start">Personal Details</h1>
            </div>
            <div class="col-6 my-2">
                <ol class="breadcrumb dark-link m-0 small justify-content-center justify-content-lg-end">
                    <li class="breadcrumb-item"><a class="text-nowrap"><i class="bi bi-home"></i>Personal Details</a></li>
                    <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Manage" asp-action="ChangeAddress"><i class="bi bi-home"></i>Address</a></li>
                    <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Manage" asp-action="ChangePayment"><i class="bi bi-home"></i>Payment</a></li>
                    <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Manage" asp-action="ChangePassword"><i class="bi bi-home"></i>Password</a></li>
                    <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Manage" asp-action="Orders"><i class="bi bi-home"></i>Orders</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<div class="py-6">
    <div class="container">
        <div class="justify-content-center row">
            <div class="col-lg-5 col-xxl-4">
                <div class="card">
                    <div class="card-header bg-transparent py-3">
                        <h3 class="h4 mb-0">Update</h3>
                    </div>
                    <div class="card-body">
                        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group mb-3">
                                <label asp-for="Username" class="form-label">Username<span class="text-danger">*</span></label>
                                <input asp-for="Username" type="text" id="email_1" class="form-control" placeholder="@UserStore.GetUserNameAsync(await UserManager.GetUserAsync(User), new CancellationToken()).Result">
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="Email" class="form-label">Email<span class="text-danger">*</span></label>
                                <input asp-for="Email" type="text" id="email_1" class="form-control" placeholder="@EmailStore.GetEmailAsync(await UserManager.GetUserAsync(User), new CancellationToken()).Result">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="PhoneNumber" class="form-label">Phone Number<span class="text-danger">*</span></label>
                                <input asp-for="PhoneNumber" type="text" id="email_1" class="form-control" placeholder="@PhoneStore.GetPhoneNumberAsync(await UserManager.GetUserAsync(User), new CancellationToken()).Result">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary w-100">
                                    Save Changes
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}





