﻿<!-- Breadcrumb -->
<div class="py-3 bg-gray-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 my-2">
                <h1 class="m-0 h4 text-center text-lg-start">Order History</h1>
            </div>
            <div class="col-6 my-2">
                <ol class="breadcrumb dark-link m-0 small justify-content-center justify-content-lg-end">
                    <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Manage" asp-action="Index"><i class="bi bi-home"></i>Personal Details</a></li>
                    <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Manage" asp-action="ChangeAddress"><i class="bi bi-home"></i>Address</a></li>
                    <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Manage" asp-action="ChangePayment"><i class="bi bi-home"></i>Payment</a></li>
                    <li class="breadcrumb-item"><a class="text-nowrap" asp-controller="Manage" asp-action="ChangePassword"><i class="bi bi-home"></i>Password</a></li>
                    <li class="breadcrumb-item"><a class="text-nowrap"><i class="bi bi-home"></i>Orders</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<!-- Content -->
<div class="py-6">
    <div class="container">
        <div class="justify-content-center row">
            <div class="col-lg-8 col-xxl-9">
                <div class="table-responsive fs-md mb-4">
                    <table class="table table-bordered table-hover mb-0"><div class="table-responsive fs-md mb-4">
                    <table class="table table-bordered table-hover mb-0">
                        <thead class="text-700 bg-gray-200">
                            <tr>
                                <th class="fw-600">Order #</th>
                                <th class="fw-600">Date Purchased</th>
                                <th class="fw-600">Status</th>
                                <th class="fw-600 text-end">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="p-3"><a class="link-dark" href="#order-details" data-bs-toggle="modal">#8560</a></td>
                                <td class="p-3">May 21, 2021</td>
                                <td class="p-3"><span class="badge bg-info m-0">In Progress</span></td>
                                <td class="p-3 text-end">$150</td>
                            </tr>
                            <tr>
                                <td class="p-3"><a class="link-dark" href="#order-details" data-bs-toggle="modal">#8560</a></td>
                                <td class="p-3">May 21, 2021</td>
                                <td class="p-3"><span class="badge bg-danger m-0">Cancel</span></td>
                                <td class="p-3 text-end">$150</td>
                            </tr>
                            <tr>
                                <td class="p-3"><a class="link-dark" href="#order-details" data-bs-toggle="modal">#8560</a></td>
                                <td class="p-3">May 21, 2021</td>
                                <td class="p-3"><span class="badge bg-success m-0">Delivered</span></td>
                                <td class="p-3 text-end">$150</td>
                            </tr>
                            <tr>
                                <td class="p-3"><a class="link-dark" href="#order-details" data-bs-toggle="modal">#8560</a></td>
                                <td class="p-3">May 21, 2021</td>
                                <td class="p-3"><span class="badge bg-warning m-0">On Hold</span></td>
                                <td class="p-3 text-end">$150</td>
                            </tr>
                            <tr>
                                <td class="p-3"><a class="link-dark" href="#order-details" data-bs-toggle="modal">#8560</a></td>
                                <td class="p-3">May 21, 2021</td>
                                <td class="p-3"><span class="badge bg-info m-0">In Progress</span></td>
                                <td class="p-3 text-end">$150</td>
                            </tr>
                            <tr>
                                <td class="p-3"><a class="link-dark" href="#order-details" data-bs-toggle="modal">#8560</a></td>
                                <td class="p-3">May 21, 2021</td>
                                <td class="p-3"><span class="badge bg-info m-0">In Progress</span></td>
                                <td class="p-3 text-end">$150</td>
                            </tr>
                            <tr>
                                <td class="p-3"><a class="link-dark" href="#order-details" data-bs-toggle="modal">#8560</a></td>
                                <td class="p-3">May 21, 2021</td>
                                <td class="p-3"><span class="badge bg-info m-0">In Progress</span></td>
                                <td class="p-3 text-end">$150</td>
                            </tr>
                            <tr>
                                <td class="p-3"><a class="link-dark" href="#order-details" data-bs-toggle="modal">#8560</a></td>
                                <td class="p-3">May 21, 2021</td>
                                <td class="p-3"><span class="badge bg-danger m-0">Cancel</span></td>
                                <td class="p-3 text-end">$150</td>
                            </tr>
                            <tr>
                                <td class="p-3"><a class="link-dark" href="#order-details" data-bs-toggle="modal">#8560</a></td>
                                <td class="p-3">May 21, 2021</td>
                                <td class="p-3"><span class="badge bg-success m-0">Delivered</span></td>
                                <td class="p-3 text-end">$150</td>
                            </tr>
                            <tr>
                                <td class="p-3"><a class="link-dark" href="#order-details" data-bs-toggle="modal">#8560</a></td>
                                <td class="p-3">May 21, 2021</td>
                                <td class="p-3"><span class="badge bg-warning m-0">On Hold</span></td>
                                <td class="p-3 text-end">$150</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                        <thead class="text-700 bg-gray-200">
                            <tr>
                                <th class="fw-600">Order #</th>
                                <th class="fw-600">Date Purchased</th>
                                <th class="fw-600">Status</th>
                                <th class="fw-600 text-end">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="p-3"><a class="link-dark" href="#order-details" data-bs-toggle="modal">#8560</a></td>
                                <td class="p-3">May 21, 2021</td>
                                <td class="p-3"><span class="badge bg-info m-0">In Progress</span></td>
                                <td class="p-3 text-end">$150</td>
                            </tr>
                            <tr>
                                <td class="p-3"><a class="link-dark" href="#order-details" data-bs-toggle="modal">#8560</a></td>
                                <td class="p-3">May 21, 2021</td>
                                <td class="p-3"><span class="badge bg-danger m-0">Cancel</span></td>
                                <td class="p-3 text-end">$150</td>
                            </tr>
                            <tr>
                                <td class="p-3"><a class="link-dark" href="#order-details" data-bs-toggle="modal">#8560</a></td>
                                <td class="p-3">May 21, 2021</td>
                                <td class="p-3"><span class="badge bg-success m-0">Delivered</span></td>
                                <td class="p-3 text-end">$150</td>
                            </tr>
                            <tr>
                                <td class="p-3"><a class="link-dark" href="#order-details" data-bs-toggle="modal">#8560</a></td>
                                <td class="p-3">May 21, 2021</td>
                                <td class="p-3"><span class="badge bg-warning m-0">On Hold</span></td>
                                <td class="p-3 text-end">$150</td>
                            </tr>
                            <tr>
                                <td class="p-3"><a class="link-dark" href="#order-details" data-bs-toggle="modal">#8560</a></td>
                                <td class="p-3">May 21, 2021</td>
                                <td class="p-3"><span class="badge bg-info m-0">In Progress</span></td>
                                <td class="p-3 text-end">$150</td>
                            </tr>
                            <tr>
                                <td class="p-3"><a class="link-dark" href="#order-details" data-bs-toggle="modal">#8560</a></td>
                                <td class="p-3">May 21, 2021</td>
                                <td class="p-3"><span class="badge bg-info m-0">In Progress</span></td>
                                <td class="p-3 text-end">$150</td>
                            </tr>
                            <tr>
                                <td class="p-3"><a class="link-dark" href="#order-details" data-bs-toggle="modal">#8560</a></td>
                                <td class="p-3">May 21, 2021</td>
                                <td class="p-3"><span class="badge bg-info m-0">In Progress</span></td>
                                <td class="p-3 text-end">$150</td>
                            </tr>
                            <tr>
                                <td class="p-3"><a class="link-dark" href="#order-details" data-bs-toggle="modal">#8560</a></td>
                                <td class="p-3">May 21, 2021</td>
                                <td class="p-3"><span class="badge bg-danger m-0">Cancel</span></td>
                                <td class="p-3 text-end">$150</td>
                            </tr>
                            <tr>
                                <td class="p-3"><a class="link-dark" href="#order-details" data-bs-toggle="modal">#8560</a></td>
                                <td class="p-3">May 21, 2021</td>
                                <td class="p-3"><span class="badge bg-success m-0">Delivered</span></td>
                                <td class="p-3 text-end">$150</td>
                            </tr>
                            <tr>
                                <td class="p-3"><a class="link-dark" href="#order-details" data-bs-toggle="modal">#8560</a></td>
                                <td class="p-3">May 21, 2021</td>
                                <td class="p-3"><span class="badge bg-warning m-0">On Hold</span></td>
                                <td class="p-3 text-end">$150</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="d-flex align-items-center mt-3">
                    <div class="d-none d-lg-block">Showing: 1 - 12 of 17</div>
                    <div class="ms-lg-auto">
                        <ul class="pagination m-0">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Content -->
